.sidebar-container {
    display: flex;
    flex-direction: column;
    min-width: 12rem;
    height: 100%;
    border-right-width: .1rem;
    border-right-color: var(--grey3);
    border-right-style: solid;
}

.profile-link {
    display: flex;
    text-decoration: none;
    color: var(--white);
    font-family: 'Oswald';
    font-size: 1.5rem;
    line-height: 1.8rem;
    height: 2rem;
    margin: .5rem;
    background-color: var(--green);
    justify-content: center;
    border-radius: .5rem;
}

.activities-label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.activity-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: calc(100% - 4rem);
}

.activity-list-item {
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    min-height: 2.2rem;
}