.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
}

.profile-options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
}

.profile-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    height: 7rem;
}